<a href="https://colab.research.google.com/github/christianishimwe/big_data_/blob/main/big_data_practice1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

IMPORTS HERE

In [8]:
import pandas as pd
import requests

In [23]:
!pip install duckdb

Requirement already satisfied: duckdb in /usr/local/lib/python3.12/dist-packages (1.3.2)

In [24]:
import duckdb

In [18]:
url = 'https://en.wikipedia.org/wiki/List_of_chief_executive_officers#List_of_CEOs'

headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) "
                  "AppleWebKit/537.36 (KHTML, like Gecko) "
                  "Chrome/91.0.4472.124 Safari/537.36"
}
response = requests.get(url, headers=headers)
tables = pd.read_html(response.text)

print(tables[1])

                Company             Executive                           Title  \
0             Accenture           Julie Sweet                          CEO[1]
1    Aditya Birla Group  Kumar Mangalam Birla                     Chairman[2]
2         Adobe Systems      Shantanu Narayen  Chairman, president and CEO[3]
3                Airbus       Guillaume Faury                          CEO[4]
4               Alibaba              Eddie Wu             Director and CEO[5]
..                  ...                   ...                             ...
133     Warner Brothers           Ann Sarnoff         Chairwoman and CEO[124]
134         WarnerMedia           Jason Kilar                        CEO[125]
135         Wells Fargo        Charles Scharf          CEO and president[126]
136  Whole Foods Market           John Mackey                        CEO[127]
137        Zillow Group           Rich Barton                        CEO[128]

       Since                                              Notes     Updated
0       2019      Succeeded Pierre Nanterme following his death  2019-01-31
1    1995[2]   Part of the Birla family business house in India  2018-10-01
2       2007                                Formerly with Apple  2018-10-01
3       2012                            Succeeded Louis Gallois  2017-11-14
4    2023[6]                                                NaN  2024-07-19
..       ...                                                ...         ...
133     2019  First woman to hold the position at the compan...  2019-10-10
134     2020                    Previously with Hulu and Amazon  2020-11-19
135     2019              Succeeded John Stumpf, previously COO         NaN
136     1980                                         Co-founder  2017-11-11
137     2019  Co-founder and previously was Zillow's CEO for...  2018-12-10

[138 rows x 6 columns]

/tmp/ipython-input-3492560235.py:9: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(response.text)

In [19]:
!wget -nc https://storage.googleapis.com/penn-cis5450/companies_sorted.csv

--2025-09-15 16:59:15--  https://storage.googleapis.com/penn-cis5450/companies_sorted.csv
Resolving storage.googleapis.com (storage.googleapis.com)... 74.125.195.207, 172.253.117.207, 142.250.99.207, ...
Connecting to storage.googleapis.com (storage.googleapis.com)|74.125.195.207|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1085578742 (1.0G) [text/csv]
Saving to: ‘companies_sorted.csv’

companies_sorted.cs 100%[===================>]   1.01G   109MB/s    in 10s

2025-09-15 16:59:25 (103 MB/s) - ‘companies_sorted.csv’ saved [1085578742/1085578742]

In [21]:
companies_data = pd.read_csv('companies_sorted.csv')
companies_data

,Unnamed: 0,name,domain,year founded,industry,size range,locality,country,linkedin url,current employee estimate,total employee estimate
0,5872184,ibm,ibm.com,1911.0,information technology and services,10001+,"new york, new york, united states",united states,linkedin.com/company/ibm,274047,716906
1,4425416,tata consultancy services,tcs.com,1968.0,information technology and services,10001+,"bombay, maharashtra, india",india,linkedin.com/company/tata-consultancy-services,190771,341369
2,21074,accenture,accenture.com,1989.0,information technology and services,10001+,"dublin, dublin, ireland",ireland,linkedin.com/company/accenture,190689,455768
3,2309813,us army,goarmy.com,1800.0,military,10001+,"alexandria, virginia, united states",united states,linkedin.com/company/us-army,162163,445958
4,1558607,ey,ey.com,1989.0,accounting,10001+,"london, greater london, united kingdom",united kingdom,linkedin.com/company/ernstandyoung,158363,428960
...,...,...,...,...,...,...,...,...,...,...,...
7173421,1494427,certiport vouchers,certiportvouchers.com,2011.0,information technology and services,1 - 10,NaN,NaN,linkedin.com/company/certiport-vouchers,0,1
7173422,1494429,black tiger fight club,blacktigerclub.com,2006.0,"health, wellness and fitness",1 - 10,"peking, beijing, china",china,linkedin.com/company/black-tiger-club-hero,0,6
7173423,4768462,catholic bishop of chicago,NaN,NaN,religious institutions,1 - 10,"inverness, illinois, united states",united states,linkedin.com/company/catholic-bishop-of-chicago,0,1
7173424,1494436,medexo robotics ltd,NaN,NaN,research,1 - 10,"london, london, united kingdom",united kingdom,linkedin.com/company/medexo-robotics-ltd,0,2
7173425,2842728,dynamic controls solutions inc,dynamiccontrolssolutions.com,NaN,automotive,1 - 10,"wixom, michigan, united states",united states,linkedin.com/company/dynamic-controls-solution...,0,1